In [1]:
DATA_PATH = "data"

In [2]:
# Imports
import pandas as pd
import numpy as np
import datetime 
from pathlib import Path
from tqdm.notebook import tqdm
import os

In [120]:
submission_df = pd.read_csv(os.path.join(DATA_PATH, "sample_submission.csv"))
test_user_ids = submission_df.Id
submission_df.head(3)

    Id                                          Predicted
0   51  3239211 10720024 8493844 1965540 5009002 95218...
1   65  11693356 13392267 2464515 2245175 4748570 1134...
2  766  12773054 3692749 12726751 10041624 11893515 23...

In [4]:
def replace_date(date_str):
    if len(date_str) < 8:
        return '2020-10-09'
    else:
        return date_str

def str2date(date_str):
    try:
        date = datetime.datetime.strptime(date_str, '%Y-%m-%d')
    except:
        date = datetime.datetime.strptime(date_str, '%d.%m.%Y')
    return date

def calculate_age(born):
    today = datetime.date.today()
    age = today.year - born.year - ((today.month, today.day) < (born.month, born.day))
    if age < 15 or age > 60:
        age = 0
    return age

## Preprocess Users
user_df = pd.read_csv(os.path.join(DATA_PATH, "kaggle_tab_1345/tab_4_user_profiles.csv"))
# Drop NaNs
user_df.dropna(inplace=True)
# # Fill NaNs
# user_df.bdate.fillna('2020-10-09', inplace=True)
user_df = user_df[user_df.user_id.isin(test_user_ids)]
# Replace incorrect dates
user_df.bdate = user_df.bdate.map(lambda x: replace_date(x))
# Convert all dates to datetime object
user_df.bdate = user_df.bdate.map(lambda x: str2date(x))
# Add new column with age
user_df["age"] = user_df.bdate.map(lambda x: calculate_age(x))
# Label code column
user_df.gender = user_df.gender.astype('category').cat.codes

user_df.drop_duplicates("user_id", inplace=True)
# users_df.head(3)

## Preprocess Citys
city_df = pd.read_csv(os.path.join(DATA_PATH, "tab_6_city.csv"))
city_df.city_name = city_df.city_name.astype('category').cat.codes
# city_df.head(3)

In [5]:
## Preprocess Orders
orders_df = pd.read_csv(os.path.join(DATA_PATH, "kaggle_tab_1345/tab_1_orders.csv"))
# Drop
orders_df.drop_duplicates(["order_id", "store_id"], inplace=True)
# Label code columns
orders_df.retailer = orders_df.retailer.astype('category').cat.codes
orders_df.platform = orders_df.platform.astype('category').cat.codes

# Merge city data
orders_df = orders_df.set_index('store_id').join(city_df.set_index('store_id'))

# Merge user data
orders_df = orders_df.set_index('user_id').join(user_df.set_index('user_id'))
orders_df.drop_duplicates("order_id", inplace=True)

In [6]:
pathes = sorted(list(Path(DATA_PATH).glob('*/tab_2*.csv')))
dfs = []
total_count = 0

for path in tqdm(pathes):
    # Read DF
    df = pd.read_csv(path)
#     print("Before:", len(df))
    
    # Filter and delete users not from test
    df = df[df.user_id.isin(test_user_ids)]

    # Drop column with long desciption
    df.drop(columns=["product_name"], inplace=True)
    
    # Label code column
    df.brand_name = df.brand_name.astype('category').cat.codes
    
    # Fill NaNs in one column
    df.master_category_id.fillna(-1, inplace=True)
    
    # Change data types to reduce memory footprint
    df.astype({
        'user_id': 'int32',
        'order_id': 'int32',
        'price': 'float32',
        'quantity': 'int32',
        'discount': 'float32',
        'product_id': 'int32',
        'brand_name': 'int32',
        'master_category_id': 'int32',
        'parent_category_id': 'int32'}, copy=False)
    total_count = total_count + len(df)
    dfs.append(df)

print("Total:", total_count)

HBox(children=(FloatProgress(value=0.0, max=26.0), HTML(value='')))

Total: 21677070

In [7]:
products_df = pd.concat(dfs)

In [8]:
# Can be slow, just wait =)
merged_df = products_df.set_index('order_id').join(orders_df.set_index('order_id'))
merged_df = merged_df.reset_index()
print("Total:", len(merged_df))

Total: 21677070

In [9]:
merged_df.head()

,order_id,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
0,139128,1050,97633689,236.889999,1,0.0,5045454,3573,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
1,139128,1050,97633791,178.160004,1,0.0,73719,5154,122.0,119,NaN,NaN,NaN,NaN,NaN,NaT,NaN
2,139128,1050,97635201,173.279999,1,0.0,7000939,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
3,139128,1050,97635312,73.690002,1,0.0,7386015,3342,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN
4,139128,1050,97635414,282.140015,1,0.0,73291,2846,85.0,84,NaN,NaN,NaN,NaN,NaN,NaT,NaN

In [10]:
merged_df.fillna(value=-1, inplace=True)

In [11]:
merged_df.dtypes

order_id                int64
user_id                 int64
line_item_id            int64
price                 float64
quantity                int64
discount              float64
product_id              int64
brand_name              int16
master_category_id    float64
parent_category_id      int64
order_created_time     object
retailer              float64
platform              float64
city_name             float64
gender                float64
bdate                  object
age                   float64
dtype: object

In [12]:
# Change data types to reduce memory footprint
merged_df = merged_df.astype({
    'user_id': 'int32',
    'order_id': 'int32',
    'price': 'float32',
    'quantity': 'int32',
    'discount': 'float32',
    'product_id': 'int32',
    'brand_name': 'int32',
    'master_category_id': 'int32',
    'parent_category_id': 'int32',
    'retailer': 'int16',
    'platform': 'int8',
    'city_name': 'int16',
    'gender': 'int8',
    'age': 'int8',
    }, copy=True)

In [13]:
merged_df.dtypes

order_id                int32
user_id                 int32
line_item_id            int64
price                 float32
quantity                int32
discount              float32
product_id              int32
brand_name              int32
master_category_id      int32
parent_category_id      int32
order_created_time     object
retailer                int16
platform                 int8
city_name               int16
gender                   int8
bdate                  object
age                      int8
dtype: object

In [15]:
merged_df.head()

,order_id,user_id,line_item_id,price,quantity,discount,product_id,brand_name,master_category_id,parent_category_id,order_created_time,retailer,platform,city_name,gender,bdate,age
0,139128,1050,97633689,236.889999,1,0.0,5045454,3573,122,119,-1,-1,-1,-1,-1,-1,-1
1,139128,1050,97633791,178.160004,1,0.0,73719,5154,122,119,-1,-1,-1,-1,-1,-1,-1
2,139128,1050,97635201,173.279999,1,0.0,7000939,2846,85,84,-1,-1,-1,-1,-1,-1,-1
3,139128,1050,97635312,73.690002,1,0.0,7386015,3342,85,84,-1,-1,-1,-1,-1,-1,-1
4,139128,1050,97635414,282.140015,1,0.0,73291,2846,85,84,-1,-1,-1,-1,-1,-1,-1

In [14]:
merged_df.to_csv(os.path.join(DATA_PATH, "merged_data.csv"))

In [36]:
merged_df.product_id.value_counts()

0          210347
709        139570
39590       44804
166         36970
55133       34424
            ...
7030736         1
9122012         1
5571748         1
6748166         1
8016826         1
Name: product_id, Length: 91994, dtype: int64

In [ ]:
nunique

In [34]:
prods = merged_df.product_id.value_counts()[:51].index

# prods

[709,
 39590,
 166,
 55133,
 1300,
 3497419,
 55134,
 67694,
 5469728,
 158,
 3817484,
 63072,
 165,
 3817542,
 5479511,
 176,
 39591,
 69669,
 14564,
 100789,
 5217,
 9959,
 3817489,
 72875,
 7397,
 7401,
 3497570,
 94333,
 49911,
 21904,
 73725,
 100,
 54728,
 100849,
 14630,
 72006,
 225,
 224,
 304,
 68465,
 10049,
 981,
 21767,
 72003,
 24831,
 7000939,
 5642,
 52657,
 24836,
 159]

In [41]:
pred = " ".join([str(x) for x in prods])
pred

'709 39590 166 55133 1300 3497419 55134 67694 5469728 158 3817484 63072 165 3817542 5479511 176 39591 69669 14564 100789 5217 9959 3817489 72875 7397 7401 3497570 94333 49911 21904 73725 100 54728 100849 14630 72006 225 224 304 68465 10049 981 21767 72003 24831 7000939 5642 52657 24836 159'

In [45]:
submission_df.to_csv("submit.csv", index=False)

In [43]:
submission_df.Predicted = pred
submission_df

             Id                                          Predicted
0            51  709 39590 166 55133 1300 3497419 55134 67694 5...
1            65  709 39590 166 55133 1300 3497419 55134 67694 5...
2           766  709 39590 166 55133 1300 3497419 55134 67694 5...
3          1132  709 39590 166 55133 1300 3497419 55134 67694 5...
4          1578  709 39590 166 55133 1300 3497419 55134 67694 5...
...         ...                                                ...
107063  2997849  709 39590 166 55133 1300 3497419 55134 67694 5...
107064  2997853  709 39590 166 55133 1300 3497419 55134 67694 5...
107065  2997873  709 39590 166 55133 1300 3497419 55134 67694 5...
107066  2997988  709 39590 166 55133 1300 3497419 55134 67694 5...
107067  2998048  709 39590 166 55133 1300 3497419 55134 67694 5...

[107068 rows x 2 columns]

SyntaxError: can't use starred expression here (<ipython-input-39-ff325f28d29d>, line 4)

In [16]:
df = merged_df[merged_df.user_id == 1050]

In [25]:
df.product_id.value_counts()

72003      5
0          4
73937      4
709        4
39770      3
          ..
76209      1
178        1
6827699    1
182        1
5075323    1
Name: product_id, Length: 147, dtype: int64

In [53]:
a = [1, 2, 5, 4]
a.index(7)
# a.pop(0)
# a

ValueError: 7 is not in list

In [86]:
merged_df.shape

(21677070, 18)

In [80]:
df = merged_df
df['count'] = 1
# df.groupby(["user_id", "product_id"]).count().order_id
df_agg = df.groupby(["user_id", "product_id"]).agg({'count':sum})
g = df_agg['count'].groupby(level=0, group_keys=False)
# res = g.apply(lambda x: x.order(ascending=False).head(3))
# g = df_agg['count'].groupby(level=0, group_keys=False)
# df_agg

In [82]:
res = g.nlargest(50)

In [98]:
res = res.reset_index()

In [116]:
res.product_id = res.product_id.astype('str')

In [118]:
submit = res.groupby('user_id')['product_id'].apply(' '.join).reset_index()

In [121]:
submit.columns = ["Id", "Predicted"]

In [122]:
submit.to_csv("my_sumbit.csv", index=False)

In [123]:
len(submit)

107068

In [ ]:
# list(res[res.user_id == 51].product_id.to_numpy())

In [111]:
predictions
for user in tqdm(test_user_ids):
    top_user_products = list(res[res.user_id == user].product_id.to_numpy())
    user_predictions = " ".join([str(x) for x in top_user_products])
    predictions.append(user_predictions)

HBox(children=(FloatProgress(value=0.0, max=107068.0), HTML(value='')))

KeyboardInterrupt:

In [99]:
res.head()

   user_id  product_id  count
0       51       14863     16
1       51       19562     13
2       51       63057     13
3       51     3562687     12
4       51         709     11

In [13]:
merged_df.to_csv("data/merged_data.csv")

In [85]:
df = merged_df[merged_df.user_id == 3142875]
df.product_id.value_counts()[:51]

9741       3
67694      1
5075131    1
5075130    1
5044951    1
5044950    1
7043716    1
63763      1
63762      1
68465      1
63760      1
Name: product_id, dtype: int64

In [57]:
submission_df = pd.read_csv(os.path.join(DATA_PATH, "sample_submission.csv"))

predictions = []
for user in tqdm(test_user_ids):
    df = merged_df[merged_df.user_id == user]
    top_user_products = list(df.product_id.value_counts()[:51].index)
    try:
        top_user_products.pop(top_user_products.index(0))
    except ValueError:
        top_user_products = top_user_products[:50]
        
    user_predictions = " ".join([str(x) for x in top_user_products])
    predictions.append(user_predictions)

HBox(children=(FloatProgress(value=0.0, max=107068.0), HTML(value='')))

KeyboardInterrupt: